<script>
$(function() {

  // page is now ready, initialize the calendar...

  $('#calendar').fullCalendar({
    // put your options and callbacks here
	//events: [{
	//	'title'   : "asdasdasd",
	//	'start'   : "2018-07-21",
	//	'end'   : "2018-07-28"}],
   lang: 'pl',
   events: <?php echo json_encode($data); ?>,
   eventRender: function(event, element, view) {
    if (event.allDay === 'true') {
     event.allDay = true;
    } else {
     event.allDay = false;
    }
   }
  })

});
</script>
			<div id='calendar'></div>

