<script>
$(function() {

  // page is now ready, initialize the calendar...

  $('#calendar').fullCalendar({
    // put your options and callbacks here
	//events: [{
	//	'title'   : "asdasdasd",
	//	'start'   : "2018-07-21",
	//	'end'   : "2018-07-28"}],
   lang: 'pl',
   events: <?php echo json_encode($data); ?>,
   eventRender: function(event, element, view) {
    if (event.allDay === 'true') {
     event.allDay = true;
    } else {
     event.allDay = false;
    }
   }
  })

});
</script>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                  <div class="panel-heading">
                        <h3 class="panel-title">Kalendarz</h3>
                  </div>
                  <div class="panel-body">
			<div id='calendar'></div>
                  </div>
            </div>
              
        </div>
    </div>
