    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                  <div class="panel-heading">
                        <h3 class="panel-title">Wykonaj zapytanie</h3>
                  </div>
		<form action="{?=url(ADMIN.'/sql/execute')?}" method="POST"> 
                  <div class="panel-body">
                        <div class="text-center">
                            <textarea rows="4" cols="125%" name="row"></textarea>
                        </div>
			<input type="submit" class="btn btn-primary" value="Wykonaj" />
                  </div>
		</form>
            </div>
              
        </div>
    </div>
