{loop: $posts}
<li class="one_third first">
	<article class="element">
		<figure><center><img src="--link do zdjecia--"  width="100%" height="100%" alt=""></center>
			<figcaption><a class="btn small" href="--link do posta--">Więcej</a></figcaption>
		</figure>
		<div class="excerpt">
			<time datetime="2045-06-06T08:15+00:00" data-title="--miesiac [STY, LUT,...]--"><strong>--miesiac [STY, LUT,...]--</strong> <em>--dzien--</em></time>
			<h6 class="heading"><a href="--link do posta--">--tytul--</a></h6>
			<p>---tresc---&hellip;</b></i></u></p>
		</div>
	</article>
</li>
{/loop}
