{? $i = 0 ?}
{loop: $posts}
{if: date("M", $value.published_at) == 'Jan'}{? $value.published_at_m='Sty' ?}{/if}
{if: date("M", $value.published_at) == 'Feb'}{? $value.published_at_m='Lut' ?}{/if}
{if: date("M", $value.published_at) == 'Mar'}{? $value.published_at_m='Mar' ?}{/if}
{if: date("M", $value.published_at) == 'Apr'}{? $value.published_at_m='Kwi' ?}{/if}
{if: date("M", $value.published_at) == 'May'}{? $value.published_at_m='Maj' ?}{/if}
{if: date("M", $value.published_at) == 'Jun'}{? $value.published_at_m='Cze' ?}{/if}
{if: date("M", $value.published_at) == 'Jul'}{? $value.published_at_m='Lip' ?}{/if}
{if: date("M", $value.published_at) == 'Aug'}{? $value.published_at_m='Sie' ?}{/if}
{if: date("M", $value.published_at) == 'Sep'}{? $value.published_at_m='Wrz' ?}{/if}
{if: date("M", $value.published_at) == 'Oct'}{? $value.published_at_m='Paz' ?}{/if}
{if: date("M", $value.published_at) == 'Nov'}{? $value.published_at_m='Lis' ?}{/if}
{if: date("M", $value.published_at) == 'Dec'}{? $value.published_at_m='Gru' ?}{/if}

<li class="one_third {if: $i == 0} first {? $i = 1 ?} {/if}">
        <article class="element">
                {if: $value.cover_photo != NULL}<figure><center><img src="http://77.55.211.142/uploads/blog/{$value.cover_photo}"  width="100%" height="100%" alt=""></center>
		{else} <figure><center><img src="http://77.55.211.142/uploads/logo_alfa"  width="100%" height="100%" alt=""></center> {/if}
                        <figcaption><a class="btn small" href="<?php echo url(['blog', 'post', $value.slug]);  ?>">Więcej</a></figcaption>
                </figure>
                <div class="excerpt">
                        <time datetime="2045-06-06T08:15+00:00" data-title="<?php echo date("M", $value.published_at) ?>"><strong>{$value.published_at_m}</strong><em><?php echo date("d", $value.published_at) ?></em></time>
                        <h6 class="heading"><a href="<?php echo url(['blog', 'post', $value.slug]);  ?>">{$value.title}</a></h6>
                        <p><?php echo strip_tags(substr($value.content, 0, 100)); ?>&hellip;</b></i></u></p>
                </div>
        </article>
</li>
{/loop}

